@model System.Collections.Generic.IEnumerable<ChecksAndBalances.Data.Models.Article>
@using ChecksAndBalances.Extensions

@{
    ViewBag.Title = "Checks & Balances | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <style type="text/css">
        img.small { width: 200px !important; height: 200px !important; }
        img.advert { height: 100px; width: 940px;}
    </style>
}


@section sectionTitle {
    <section class="section-title">
        <div class="container">
            @if (Model.Any() && Model.First().Advertisement != null)
            {
                <a href="@Model.First().Advertisement.Url">
                    <img height="100" width="940" src="@Model.First().Advertisement.ImageUrl" />
                </a>
            }
        </div>
    </section>
}

<section id="content" class="container">
    <!-- Start Main Content -->
    @if (!Model.Any())
    {
        <div class="post-entry">
            <div class="post-head columns nine first">
                <h4 class="post-title columns eight">
                    No Articles Yet.
                </h4>
            </div>

            <ul class="post-meta">
                <li>Coming soon</li>
            </ul>

            <div class="post-media2">
                <img class="small" src="~/Content/Images/icons/support.png" />
            </div>

            <div class="post-content">
                Be the first to know when new articles are posted.  Follow us on twitter.
            </div>
        </div>
    }

    @foreach (var article in Model)
    {
        <div class="post-entry">
            <div class="post-head columns nine first">
                <h4 class="post-title columns eight">
                    @Html.ActionLink(article.Title, "Get", "Article", new { @state = article.States.First().State, @resource = article.Title.ToUrlSafeString() }, new { })
                </h4>
            </div>
            <ul class="post-meta">
                <li class="date">
                    @Html.ActionLink(article.DatePublished.ToShortDateString(), "Date", "Article", new { @state = article.States.First().State, @resource = article.DatePublished.ToShortDateString().ToUrlSafeString() }, new { })
                </li>
                <li class="author">@article.Authors</li>
                <li class="cat">
                    @foreach (var cat in article.Tags)
                    {
                        @Html.ActionLink(cat.Name, "Category", "Article", new { @state = article.States.First().State, @resource = cat.Name.ToUrlSafeString() }, new { })
                        <span>, </span>
                    }
                </li>
                <li class="comments">@article.Comments.Count() Comments</li>
            </ul>

            <div class="post-media2">
                <img class="small" src="@article.ImageUrl" />
            </div>

            <div class="post-content">
                @article.Description
            </div>

            @Html.ActionLink("READ MORE...", "Get", "Article", new { @state = article.States.First().State, @resource = article.Title.ToUrlSafeString() }, new { @class = "post-more" })
        </div>

        <hr class="devider1" />
    }
        
    <!-- End Main Content -->
</section>
