<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs
  =============================================== -->
    <meta charset="utf-8">

    <!-- Page Titles
  =============================================== -->
    <title>@ViewBag.Title</title>

    <!-- Mobile Specific 
  =============================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Stylesheets 
  =============================================== -->
    <link rel="stylesheet" href="/Content/style.css">
    <link rel="stylesheet" href="/Content/plugins.css">
    <link rel="stylesheet" type="text/css" href="/Content/colors/blue.css" media="screen">
    <link rel="stylesheet" href="/Content/responsive.css">

    <!--  WebFont 
  =============================================== -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Raleway:600" rel="stylesheet" type="text//Content">

    <!-- Modernizr
  =============================================== -->
    <script type="text/javascript" src="/Scripts/modernizr.js"></script>

    @if(IsSectionDefined("header"))
    {
        @RenderSection("header")
    }
</head>
<body>

    <!-- Start Wrapper -->
    <div id="wrapper">

        <!-- Start Header Wrapper -->
        <div class="header-wrapper header-alt2 blue-grad">

            <!-- Start Header -->
            <header id="header" class="half-bottom">

                <!-- Start Logo-->
                <section id="top" class=" container row">

                    <!-- Logo -->
                    <div class="columns three">
                        <!-- 3 Columns -->
                        <div id="logo">
                            <a href="#">Checks And Balances</a>
                        </div>
                        <div class="social">
                            <a href="#" class="social-icons-mini dark color twitter tooltips" title="Twitter">Twitter</a>
                            <a href="#" class="social-icons-mini dark color facebook tooltips" title="Facebook">Facebook</a>
                            <a href="#" class="social-icons-mini dark color rss tooltips" title="RSS Feed">RSS Feed</a>
                        </div>
                    </div>

                    <!-- 9 Columns -->
                    <div class="columns nine">

                        <!-- Shadow Effect -->
                        <div class="curved-shadow">

                            <!-- Start Main Navigation -->
                            <nav id="main-nav" class="nav2">

                                <!-- Dropdown Menu -->
                                <ul class="sf-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="@(ViewBag.Title.Contains("Home") ? "active" : "")">Home</a>
                                        <ul>
                                            <li>@Html.ActionLink("Home", "Index", "Home", new { }, new { })</li>
                                            <li>@Html.ActionLink("Choose State", "Index", "Home", new { }, new { })</li>
                                        </ul>
                                    </li>

                                    <li>
                                        @Html.ActionLink("Players", "Index", "PlayersPage", new { @state = ViewBag.CurrentState ?? ChecksAndBalances.Data.Models.Enum.State.DC }, new { @class = ViewBag.Title.Contains("Players Page") ? "active" : ""})
                                        <ul></ul>
                                    </li>

                                    <li>
                                        @Html.ActionLink("Archive", "Index", "Article", new { @state = ViewBag.CurrentState ?? ChecksAndBalances.Data.Models.Enum.State.DC }, new { @class = ViewBag.Title.Contains("Archive") ? "active" : ""})
                                        <ul></ul>
                                    </li>

                                    <li>
                                        <a href="javascript:void(0);" class="@(ViewBag.Title.Contains("Info") ? "active" : "")">Info</a>
                                        <ul>
                                            <li>@Html.ActionLink("About", "Index", "Home", new { }, new { })</li>
                                            <li>@Html.ActionLink("Contact", "Index", "Home", new { }, new { })</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" 
                                            class="@(ViewBag.Title.Contains("Account") ? "active" : "")">Account</a>
                                        <ul>
                                            <li>@Html.ActionLink("Settings", "Index", "Home", new { }, new { })</li>
                                            <li>@Html.ActionLink("Sign In", "Index", "Home", new { }, new { })</li>
                                            <li>@Html.ActionLink("Sign Up", "Index", "Home", new { }, new { })</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"
                                            class="@(ViewBag.Title.Contains("Admin") ? "active" : "")">Admin</a>
                                        <ul>
                                            <li>@Html.ActionLink("Publish", "Index", "Home", new { }, new { })</li>
                                            <li>@Html.ActionLink("Ad Management", "Index", "Home", new { }, new { })</li>
                                        </ul>
                                    </li>
                                </ul>

                                <!--  Search Bar -->
                                <form action="#" class="nav-search">
                                    <input type="text">
                                </form>

                            </nav>
                            <!-- End Main Navigation -->

                        </div>
                        <!-- Shadow Effect -->

                    </div>
                    <!-- End 9 Columns -->

                </section>
                <!-- End Top -->

            </header>
            <!-- End Header -->
            <div class="header-filler"></div>

            @if(IsSectionDefined("sectionTitle"))
            {
                @RenderSection("sectionTitle")
            }
        </div>
        <!-- End Header Wrapper -->

        @RenderBody()

        <!-- Start Footer -->
        <footer id="footer">
            <div class="footer-wrap">

                <!-- Start Footer Widget -->
                <div class="footer-widgets container half-top">

                    <!-- Start Footer Widget Item -->
                    <div class="columns one-third first">
                        <h4>About Us</h4>
                        <div class="widget-content">
                            <p>Mollis malesuada primis in faucibus luctus. Ligula eget dolor.</p>

                            <ul class="widget-contact-info">
                                <li class="address">Address: 12th Bvd. Los Angeles, CA, 94101</li>
                                <li class="phone">Phone: +1 800 123 4567</li>
                                <li class="mail">E-mail: testmail@sitename.com</li>
                            </ul>

                        </div>
                    </div>
                    <!-- End Footer Widget Item -->

                    <!-- Start Footer Widget Item -->
                    <div class="columns one-third">
                        <h4>Our Location</h4>
                        <div class="widget-content">
                            <img src="/Content/Images/world-map-bg.png" alt="World Location">
                        </div>
                    </div>
                    <!-- End Footer Widget Item -->

                     <!-- Start Footer Widget Item -->
                    <div class="columns one-third">
                        <h4>Latest Tweet</h4>
                        <div id="tweets" class="widget-content">          
                        </div>
                    </div>
                    <!-- End Footer Widget Item -->         

                </div>
                <!-- End Footer Widget -->
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Start Footer Copy -->
        <div class="footer-copy">
            <div class="container">

                <p class="align-center">
                    &copy; Copyright 2012.          
                </p>

            </div>
        </div>
        <!-- End Footer Copy-->

    </div>
    <!-- End Wrapper -->

    <!-- Javascripts
  =============================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>window.jQuery || document.write('<script src="/Scripts/jquery-1.8.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="/Scripts/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.easing.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/Scripts/camera.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.cslider.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.caroufredsel.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.zflickrfeed.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.fitvid.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.tweetable.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.hoverIntent.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.superfish.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.easy-pie-chart.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.gmap.min.js"></script>
    <script type="text/javascript" src="/Scripts/omnibiz-custom.js"></script>

    @if(IsSectionDefined("footer"))
    {
        @RenderSection("footer")
    }
</body>
</html>
