@model System.Collections.Generic.IEnumerable<ChecksAndBalances.Data.Models.Advertisement>
@using ChecksAndBalances.Extensions
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sectionTitle {
    <section class="section-title">
        <h1><span>Advertisement</span> Maintenance</h1>
    </section>
}

<section id="content" class="container">
    <div class="columns twelve">
        <h4>Advertisements</h4>
        @if (!Model.Any())
        {
            <h4>You have no Advertisements</h4>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sort Order</th>
                        <th>Client</th>
                        <th>Image</th>
                        <th>Link</th>
                        <th>Articles</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="sortable">
                    @foreach (var advert in Model)
                    {
                        <tr>
                            <td class="sortorder">@advert.SortOrder</td>
                            <td>@advert.ClientName</td>
                            <td>
                                <img width="50" src="@advert.ImageUrl" />
                            </td>
                            <td>
                                <a href="@advert.Url">@advert.Url</a>
                            </td>
                            <td>
                                @if(advert.Articles.Any())
                                {
                                    <ul class="styled-list arrow-3">
                                        @foreach(var article in advert.Articles)
                                        {
                                            <li>
                                                @Html.RouteLink(article.Title, "Default", new { @controller = "Article", @action = "Get", @resource = article.Title.ToUrlSafeString(), @state = article.States.First().State }, new { })
                                            </li>
                                        }
                                    </ul>
                                }
                            </td>
                            <td>
                                @Html.RouteLink("edit", "Admin_default", new { @controller = "Advertisement", @action = "Edit", @id = advert.Id }, new { @class = "button" })
                            </td>
                            <td>
                                @Html.RouteLink("delete", "Admin_default", new { @controller = "Advertisement", @action = "Delete", @id = advert.Id}, new { @class = "button red" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <hr class="divider1" />

        <div class="text-center add-top">
            @Html.RouteLink("Create Advert", "Admin_default", new { @controller = "Advertisement", @action = "Edit" }, new { @class = "button large" })
        </div>
    </div>
</section>

@section footer {
    <script src="~/Scripts/jquery.ui.core.min.js"></script>
    <script src="~/Scripts/jquery.ui.mouse.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.ui.sortable.js"></script>

    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('#sortable').sortable({
                    update: function (event, ui) {
                        reOrder();
                    }
                });

                var reOrder = function () {
                    var $trs = $('#sortable > tr');
                    $trs.each(function (idx, el) {
                        $(el).find('td.sortorder').html(idx+1);
                    });
                };

                reOrder();
            });
        })(jQuery);
    </script>
} 

