@model ChecksAndBalances.Web.Models.PlayersPageViewModel
@using ChecksAndBalances.Extensions

@{
    ViewBag.Title = "Checks & Balances | Players Page";
    ViewBag.CurrentState = Model.CurrentState;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <style type="text/css">
        img.small { width: 200px !important; height: 200px !important; }
    </style>
}


@section sectionTitle {
    <section class="section-title">
        <div class="container">
            <h1><span>Players Page</span> for @Model.CurrentState.ToDescription()</h1>
        </div>
    </section>
}

<section id="content" class="container">
    <!-- Start Main Content -->
    <div id="primary" class="columns three-fourths first">
        @if (!Model.Articles.Any())
        {
            <div class="post-entry">
                <div class="post-head columns nine first">
                    <h4 class="post-title columns eight">
                        No Articles Yet.
                    </h4>
                </div>

                <ul class="post-meta">
                    <li>Comming soon</li>
                </ul>

                <div class="post-media2">
                    <img class="small" src="~/Content/Images/icons/support.png" />
                </div>

                <div class="post-content">
                    Be the first to know when new articles are posted.  Follow us on twitter.
                </div>
            </div>
        }
        @foreach (var article in Model.Articles)
        {
            <div class="post-entry">
                <div class="post-head columns nine first">
                    <h4 class="post-title columns eight">
                        @Html.ActionLink(article.Title, "Get", "Article", new { @state = Model.CurrentState, @resource = article.Title.ToUrlSafeString() }, new { })
                    </h4>
                </div>
                <ul class="post-meta">
                    <li class="date">
                        @Html.ActionLink(article.DatePublished.ToShortDateString(), "Date", "Article", new { @state = Model.CurrentState, @resource = article.DatePublished.ToShortDateString().ToUrlSafeString() }, new { })
                    </li>
                    <li class="author">@article.Authors</li>
                    <li class="cat">
                        @foreach (var cat in article.Tags)
                        {
                            @Html.ActionLink(cat.Name, "Category", "Article", new { @state = Model.CurrentState, @resource = cat.Name.ToUrlSafeString() }, new { })
                            <span>, </span>
                        }
                    </li>
                    <li class="comments">@article.Comments.Count() Comments</li>
                </ul>

                <div class="post-media2">
                    <img class="small" src="@article.ImageUrl" />
                </div>

                <div class="post-content">
                    @article.Description
                </div>

                @Html.ActionLink("READ MORE...", "Get", "Article", new { @state = Model.CurrentState, @resource = article.Title.ToUrlSafeString() }, new { @class = "post-more" })
            </div>

            <hr class="devider1" />

            if(article.Advertisement != null)
            {
                <a href="@article.Advertisement.Url">
                    <img class="fuck-off" height="50" width="700" src="@article.Advertisement.ImageUrl" alt="advertisement" />
                </a>
            }

            <hr class="devider1" />
        }
        
    </div>
    <!-- End Main Content -->

    <!-- Start Sidebar -->
    @Html.Action("SideBar", "Home", new { @state = Model.CurrentState })
    <!-- End Sidebar -->
</section>
