@model ChecksAndBalances.Web.Areas.Admin.Models.ArticleViewModel
@using ChecksAndBalances.Extensions
@{
    ViewBag.Title = "Checks & Balances | Admin | Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section sectionTitle {
    <section class="section-title">
        <div class="container">
            <h1><span>Create and Publish</span> Articles</h1>
        </div>
    </section>
}

<section id="content" class="container add-top add-bottom">
    <div class="columns twelve">
        <h4>Articles waiting to be published</h4>
        @if (!Model.UnPublishedArticles.Any())
        {
            <h4>No Articles to edit</h4>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Working Title</th>
                        <th>State(s)</th>
                        <th>Tag(s)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var article in Model.UnPublishedArticles)
                    {
                        <tr>
                            <td>@article.Title</td>
                            <td>
                                @foreach (var state in article.States)
                                {
                                    <span>@state.State.ToDescription()</span>
                                    <span>,</span>
                                }
                            </td>
                            <td>
                                @foreach (var tag in article.Tags)
                                {
                                    <span>@tag.Name</span>
                                    <span>,</span>
                                }
                            </td>
                            <td>
                                @Html.RouteLink("edit", "Admin_default", new { @controller = "Article", @action = "Edit", @id = article.Id }, new { @class = "button" })
                            </td>
                            <td>
                                <a href="#" class="button red">delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <h4>Published Articles</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Publish Date</th>
                    <th>States</th>
                    <th>Tags</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model.PublishedArticles)
                {
                    <tr>
                        <td>@article.Title</td>
                        <td>@article.DatePublished.ToShortDateString()</td>
                        <td>
                            @foreach (var state in article.States)
                            {
                                <span>@state.State.ToDescription()</span>
                                <span>,</span>
                            }
                        </td>
                        <td>
                            @foreach (var tag in article.Tags)
                            {
                                <span>@tag.Name</span>
                                <span>,</span>
                            }
                        </td>
                        <td>
                            <a href="#" class="button yellow">revoke</a>
                        </td>
                        <td>
                            <a href="#" class="button red">remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr class="divder1" />

        <div class="text-center add-top">
            @Html.RouteLink("Create Article", "Admin_default", new { @controller = "Article", @action = "Edit" }, new { @class = "button large" })
        </div>
    </div>
</section>